<nav class="navbar navbar-expand-lg navbar-light bg-light <%= typeof navClass !== 'undefined' ? navClass : '' %>">
    <div class="container<%= typeof fluid !== 'undefined' && fluid ? '-fluid' : '' %>">
        <a class="navbar-brand fw-bold" href="/">
            <i class="bi bi-robot"></i> Discord Bot
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <% if (user) { %>
                    <li class="nav-item">
                        <a class="nav-link <%= typeof activeTab !== 'undefined' && activeTab === 'dashboard' ? 'active' : '' %>" href="/dashboard">
                            <i class="bi bi-speedometer2"></i> Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/commands">
                            <i class="bi bi-terminal"></i> Commands
                        </a>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="#features">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#commands">Commands</a>
                    </li>
                <% } %>
            </ul>
            <ul class="navbar-nav">
                <% if (user) { %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
                            <img src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.png" 
                                 alt="Avatar" width="24" height="24" class="rounded-circle me-1">
                            <%= user.username %>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="/dashboard">
                                <i class="bi bi-speedometer2"></i> Dashboard
                            </a></li>
                            <li><a class="dropdown-item" href="/settings">
                                <i class="bi bi-gear"></i> Settings
                            </a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/logout">
                                <i class="bi bi-box-arrow-right"></i> Logout
                            </a></li>
                        </ul>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="btn btn-primary" href="/auth/discord">
                            <i class="bi bi-discord"></i> Login with Discord
                        </a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>